// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

searchBar{
    width:100%;
}

.sidebar{
    .nav-item, .nav-link{
        color: #333 !important;
        padding-top: 0.5rem;
    }
    a{
        text-decoration: none;
    }
}